@import url('https://fonts.googleapis.com/css?family=Istok+Web');

html, body {
    margin: 0;
    font-family: 'Istok Web', sans-serif;
}

* {
    margin: 0;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175px;
}

#header {
    width: 100%;
    height: 175px;
}

#circle_picture {
    position: relative;
    top: 50%;
    text-align: center;
    overflow: hidden;
}

#circle_picture > img {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: solid 3px #ffffff;
    border-radius: 50%;
}

#name {
    padding-top: 60px;
    text-align: center;
}

#name h1 {
    margin-top: 10px;
}

#contact i, #contact img {
    margin: 2px;
    margin-right: 10px;
    vertical-align: middle;
}

#contact .no_icon {
    margin-left: 41px;
}

ul li {
    padding-bottom: 10px;
}